extends layout

block content
  #banner.page-header
    .row
      .col
        h1=title
        small Trade Jersey's with your classmates!
    .row
      .col
        small Check out some offers we have right now!
      .col(style="float:right;padding:0px;")
        a.btn.btn-default.btn-secondary.page-btn(href="/") Show Available Offerings

  .row.list-group
    .col-xs-12.list-group-item
      h4
        div.list-group-item-header
          p Purpose of the App
        .list-group-item-content
          ul
            li This applications purpose is to trade NBA jerseys (usually for dollars).
            li When testing, you should make sure that you note any passwords and usernames that you use.
            li The items won't show up in the past offerings until an offering is accepted.

  .row.list-group
    .col-xs-12.list-group-item
      h4
        div.list-group-item-header
          p Why you should vote for this project?
        .list-group-item-content
          ul
            li The project uses usernames and passwords to "secure" your item bidding.
            li You can check out all the offerings that took place in the past!
            li Everyone likes buying NBA jerseys!

  .row.list-group
    .col-xs-12.list-group-item
      h4
        div.list-group-item-header
          p OPTION 2! Rubric Items
        .list-group-item-content
          ul
            li You can click on an offering to see the bids, questions, and information.
            li Items are active until a bid is accepted, then they are part of past offerings.
            li All other bids are removed once one is accepted.
            li Users can post questions on an offering (they are anonymous).
            li When you accept or answer a question, you must enter your login to assure that the item is yours.
            li You can sort previous offerings by date or by person.

  .row.list-group
    .col-xs-12.list-group-item
      h4
        div.list-group-item-header
          p How to add new offerings
        .list-group-item-content
          ul
            li Click the new offering button on the homepage.
            li Fill in ALL the fields and click the Add button at the bottom.

  .row.list-group
    .col-xs-12.list-group-item
      h4
        div.list-group-item-header
          p How to interact with an offering
        .list-group-item-content
          ul
            li Click on an offering link on the main page.
            li Click any of the buttons on the page and then fill in the form!
  