extends layout

block content 
    .row.page-header
        .col-lg-12
            h1 Accept an Offering
            form.form-horizontal(action='accept', method="post", role="form")
                if (error === "val")
                    .alert.alert-danger(role="alert") Offerer username and password are required
                if (error === "auth")
                    .alert.alert-danger(role="alert") Credentials do not match the owner of the offering
                .form-group
                    label.col-xs-10
                        h1(style="margin:30px")= 'Bid Amount: $'+currentBid
                        .form-group
                            label.col-xs-12.control-label(for="password") Username of Offerer
                            .col-xs-12.col-sm-10
                              input#password.form-control(name="name")
                        .form-group
                            label.col-xs-12.control-label(for="password") Password of Offerer
                            .col-xs-12.col-sm-10
                              input#password.form-control(name="password")
                        button.btn.btn-secondary.pull-right Accept Bid
