doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    style
      include /stylesheets/style.css
  body
    .nav.navbar.navbar-default
      .container-fluid
        #brand.navbar-brand Fan Trader
        ul.navbar-nav
          li.active.btn.btn-secondary
            a(href='/') Offerings
          li.btn.btn-secondary
            a(href='/about/') About 
    .container
      block content

  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  
