extends layout

block content
  #banner.page-header
    .row
      .col
        h1=title
        small Trade Jersey's with your classmates!
      .col(style="float:right;padding:0px;")
        a.btn.btn-default.btn-secondary.page-btn(href="/offering/new") + Add An Offering
        a.btn.btn-default.btn-secondary.page-btn(href="/offering/past") + Show Past Offerings
   
  .row
    .row.list-group
      .col-xs-12.list-group-item
        h4
          div.list-group-item-header
            a(href="/offering") Wizards John Wall
            span.badge.pull-right.badge-default [signed]
            span.badge.pull-right.badge-default [authentic]
            span.badge.pull-right.badge-default [game worn]
            span.badge.pull-right.badge-default [2015]

          .list-group-item-content
            p.concatDetail Signed Jersey worn by John Wall in 2015
            p.concatDetail John Wall is the starting PG for the Washington Wizards
            
            p
              a.btn.btn-secondary(style="margin: 10px", href="/offering/bid") Bid on Offering
                | &nbsp;

      .col-xs-12.list-group-item
        h4
          .list-group-item-header
            a(href="/offering") Cavaliers Kevin Love
            span.badge.pull-right.badge-default [unsigned]
            span.badge.pull-right.badge-default [authentic]
            span.badge.pull-right.badge-default [2017]

          .list-group-item-content
            p.concatDetail Kevin Love Jersey from 2017
            p.concatDetail Kevin Love is the starting Center for the Cleveland Cavaliers
            
            p
              a.btn.btn-secondary(style="margin: 10px", href="/offering/bid") Bid on Offering
                | &nbsp;

      .col-xs-12.list-group-item
        h4
          .list-group-item-header
            a(href="/offering") Knicks Carmelo Anthony
            span.badge.pull-right.badge-default [unsigned]
            span.badge.pull-right.badge-default [knockoff]
            span.badge.pull-right.badge-default [2013]

          .list-group-item-content
            p.concatDetail Bootleg Carmelo Anthony Jersey for the New York Knicks
            p.concatDetail Carmelo Anthony currently plays Small Forward for the Oklahoma City Thunder
            
            p
              a.btn.btn-secondary(style="margin: 10px", href="/offering/bid") Bid on Offering
                | &nbsp;


  .row
    .col-xs-12
      .row.footer-detail
        h1
          p To find previous offers, click "Show Past Offerings"
          p To bid on an offer, click "Bid on Offering"
