extends layout

block content
	.row.page-header
		.col-lg-12
			h1= title
			a.btn.btn-default.pull-right(href='/offering/question/new') Add a New Question 
			a.btn.btn-default.pull-right(href='/offering/bid') Bid on Offering
			a.btn.btn-default.pull-right(href='/offering/accept') Accept Bid