extends layout

block content
  #banner.page-header
    .row 
      .col-lg-6
        h1= title
  .row 
    .col-xs-12.col-sm-8
      a(href="/offering") Test Offering
    .col-xs-12.col-sm-4 
      p.lead Details 
  .row
    a.btn.btn-default.pull-right(href='/offering/new') Add new Offering
  .row 
    a.btn.btn-default.pull-right(href='/offering/bid') Bid on an offering
  .row
    a.btn.btn-default.pull-right(href='/offering/accept') Accept an offering
  .row
    a.btn.btn-default.pull-right(href='/offering/past') View past offerings
